div.mblPane
	h2 Demo
	p You've reached the following view:
	pre(data-dojo-attach-point='outputNode')
	p This view has been accessed {{ count }} times.
	p
		| Try 
		a(href='/#/demo/another') another path 
		|  to the same view, or 
		a(href='/#/demo') return to the demo.

