doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title My App
		
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(http-equiv='cache-control', content='no-cache')
		meta(http-equiv='pragma', content='no-cache')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		
		link(rel='stylesheet', href='app/resources/css/app.css')

	body
		noscript.browserWarning
			p
				| This site requires JavaScript. For help enabling JavaScript in your browser, 
				a(href='http://www.enable-javascript.com/', target='_blank') please follow these instructions.

		.layout(style='visibility: hidden')
			header
				a.title(href="/") My App
			nav
				ul
					li
						a(href="/#/") Home
					li
						a(href="/#/demo") Demo
			#mainContainer
				section#main(role='main')

		script(src="vendor.js")

		if build
			script(data-dojo-config="async:1,tlmSiblingOfDojo:0,isDebug:#{development},cacheBust:1,waitSeconds:15,deps:['app/run']" src="dojo/dojo.js")
		else
			script(data-dojo-config="async:1,tlmSiblingOfDojo:0,isDebug:#{development},cacheBust:1,waitSeconds:15" src="dojo/dojo.js")
			script(src="app/run.js")
